# Токен: строка, прописать в кавычках
TOKEN: "абырвалг"

# Типы счетов, которые выгружаем в файл: Tinkoff, TinkoffIis
# Если не указывать, то будут выгружены все бумаги по всем счетам
# Каждый из счетов будет сохранен в отдельный файл
PORTFOLIO_TYPE: "TinkoffIis"